<div class="jumbotron">
<h1><i class="fa fa-bullhorn"></i> About Mike Horn</h1>
<p><a href="http://mikehorn.nyc" target="_blank">Mike Horn</a> is a Full Stack Developer in NYC. Find me on the web!</p>
<p><i class="fa fa-github-alt"></i><a href="https://github.com/mikeh0rn" target="_blank"> Github</a></p>
<p><i class="fa fa-linkedin-square"></i><a href="https://www.linkedin.com/in/mikeh0rn" target="_blank"> LinkedIn</a></p>
<p><i class="fa fa-twitter-square"></i><a href="https://twitter.com/mikeh0rn" target="_blank"> Twitter</a></p>
<%= link_to "Home",root_path, class: "btn btn-primary btn-lg" %>
</div>